<!DOCTYPE html>
<html>
<head>
  <title>ERB TESTTING WEB </title>
<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <h1>THIS IS, <%= @title %>!</h1>
    <h2>Hello, <%= @name2 %>!</h2>

   <center> <p> <%= @paragraph %><p>
</body>
</html>